.tanpa{
    border: none;
    padding: 10px;
    font-weight: 700;
    font-size: 12;
    background-color: aqua;
    color: bisque;
    cursor: pointer;
}

.tanpa:hover{
    background-color: brown;
    color: aliceblue;
    transform: rotate(90);
    transition: all .10s;
}